.wordle{
    top: 50%;
    left: 50%;
    transform: translate(0%, -33%);
}

.wordle .word {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    max-width: 25%;
}

.word{
    height: 75px;
}

.wordle .word .letter {
    margin: 3px 0 3px 0;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    min-width: 25px;
}

.missing{
    background-color: yellow;
}

.correct{
    background-color: limegreen;
}

.fail{
    background-color: rgba(255, 255, 255, .15);
}
